<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="shortcut icon" href="images/LOGO_NLM.ico">

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Customers</title>
</head>
<body>

<header>
		<div class="navbar navbar-default navbar-fixed-top navbar-color">
			<div class="container">
				<div class="navbar-header">
				<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#example'>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
					<a href="#" class='navbar-brand navbar-text-color'><img class= 'img-responsive navbar-img'src="images/LOGO NLM.png" alt="NLM Marketing"></a>
				</div>
				<div class="collapse navbar-collapse" id='example'>
					<ul class="nav navbar-nav navbar-text-color">
						<li><a href="/">Home</a></li>
						<li><a href="/overview">Overview</a></li>
						<li><a href="/our-mission">Our Mission</a></li>
						<li class='active'><a href="/customers">Customers</a></li>
						<li><a href="/retail-support">Retail Support</a></li>
						<li><a href="/contact-us">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>

	<div class="img-bg" id="img7">
		<div class="container">
		<div class="row">
		<div class="col-xs-12">

		<p id="img-bg-text" style="font-size:50px; font-family: Work Sans;">Our Customers</p>
			
		</div>
	</div>
	</div>
	</div>

	
		<div class="container content-block">
			<div class="row">
			<h1 id="retail" style="color: #fff; font-family: 'Work Sans', sans-serif; text-align: center; text-shadow: 2px 2px #000;">Our Retailers</h1>
					<hr style="margin-left: auto; margin-right: auto; width: 50%;">
				<div class="col-xs-12" id='retailers'>
					<ul class="retailers" id='logos'>
						<li><img src="images/retailers/shoprite-logo.png" alt="" class='hideme img-responsive'></li>
						<li><img src="images/retailers/wakefern-logo.png" alt="" class='hideme img-responsive'></li>
						<li><img src="images/retailers/acme.png" alt="" class='hideme img-responsive'></li>
						<li><img src="images/retailers/restaurantdepot_logo.png" alt="" class='hideme img-responsive'></li>
						<li><img src="images/retailers/shaws.png" alt="" class='hideme img-responsive'></li>
						<li><img src="images/retailers/safeway.jpg" alt="" class='hideme img-responsive'></li>
						<li><img src="images/retailers/walmart.png" alt="" class='hideme img-responsive'></li>
						<li><img src="images/retailers/jewel.png" alt="" class='hideme img-responsive'></li>
						<li><img src="images/retailers/stop-and-shop-logo.png" alt="" class='hideme img-responsive'></li>
						<li><img src="images/retailers/weis.png" alt="" class='hideme img-responsive'></li>
						<li><img src="images/retailers/topps.png" alt="" class='hideme img-responsive'></li>
						<li><img src="images/retailers/asg.jpg" alt="" class='hideme img-responsive'></li>
						<li><img src="images/retailers/associated.png" alt="" class='hideme img-responsive'></li>
						<li><img src="images/retailers/bravo.png" alt="" class='hideme img-responsive'></li>
						<li><img src="images/retailers/compare_foods_logo.png" alt="" class='hideme img-responsive'></li>
						<li><img src="images/retailers/ctown.jpg" alt="" class='hideme img-responsive'></li>
						<li><img src="images/retailers/fine-fare.png" alt="" class='hideme img-responsive'></li>
						<li><img src="images/retailers/foodtown-logo.png" alt="" class='hideme img-responsive'></li>
						<li><img src="images/retailers/jetro.png" alt="" class='hideme img-responsive'></li>
						<li><img src="images/retailers/keyfood.png" alt=""class='hideme img-responsive'class='hideme'></li>
						<li><img src="images/retailers/kings.png" alt=""class='hideme img-responsive'></li>
						<li><img src="images/retailers/krasdale.png" alt=""class='hideme img-responsive'></li>
						<li><img src="images/retailers/metfood.png" alt=""class='hideme img-responsive'></li>
						<li><img src="images/retailers/metropolitan.png" alt=""class='hideme img-responsive'></li>
						<li><img src="images/retailers/pioneer.png" alt=""class='hideme img-responsive'></li>
						<li><img src="images/retailers/AFB.jpg" alt=""class='hideme img-responsive'></li>
						
					</ul>

				
					</div>
					</div>
					</div>
					

					<div class="img-bg" id="img8">
						<div class="container">
						<div class="row">


<h1 id="distrib" style="color: #fff; font-family: 'Work Sans', sans-serif; text-align: center; text-shadow: 2px 2px #000;">Our Distributors </h1>
					<hr style="margin-left: auto; margin-right: auto; width: 50%;">

					<div class="distributor-div">

<h3 id='dsd'  style="color: #fff; font-family: 'Work Sans', sans-serif; text-align: center; text-shadow: 2px 2px #000;">DSD</h3>

					<div class="col-xs-12" id='distributors'>
						<ul class="distributors" id='logos'>
							<li><img src="images/distributors/dsd/fancyfoods.jpg" alt=""class='hideme img-responsive'></li>
							<li><img src="images/distributors/dsd/nassau.jpg" alt=""class='hideme img-responsive'></li>
							<li><img src="images/distributors/dsd/nebraskaland.jpg" alt=""class='hideme img-responsive'></li>
							<li><img src="images/distributors/dsd/porky-products.jpg" alt=""class='hideme img-responsive'></li>
						</ul>
					</div>



					<h3 style="color: #fff; font-family: 'Work Sans', sans-serif; text-align: center; text-shadow: 2px 2px #000;" id='primary'>Primary</h3>

					<div class="col-xs-12" id='primary'>
						<ul class="distributors" id="logos">
							<li><img src="images/distributors/primary/bozzutos.jpg" alt=""class='hideme img-responsive'></li>
							<li><img src="images/distributors/primary/burris.png" alt=""class='hideme img-responsive'></li>
							<li><img src="images/distributors/primary/c&s.jpg" alt=""class='hideme img-responsive'></li>
							<li><img src="images/distributors/primary/general.png" alt=""class='hideme img-responsive'></li>
							<li><img src="images/distributors/primary/lineage.png" alt=""class='hideme img-responsive'></li>
							<li><img src="images/distributors/primary/supervalue.png" alt=""class='hideme img-responsive'></li>
							<li><img src="images/distributors/primary/wakefern-logo.png" alt=""class='hideme img-responsive'></li>
						</ul>
					</div>
							
						</div>
								</div>
					
							</div>
						</div>
					</div>
					</div>


				<div class="container content-block">
					<div class="row">
						<div class="col-xs-12">
							<h1 id="princip" style="color: #fff; font-family: 'Work Sans', sans-serif; text-align: center; text-shadow: 2px 2px #000;">Our Principles</h1>
					<hr style="margin-left: auto; margin-right: auto; width: 50%;">

					<div class="col-xs-12" id="principles">
						<ul class="principles" id="logos">
							<li><img src="images/principles/aloevine.jpg" alt=""class='hideme img-responsive'></li>
							<li><img src="images/principles/fud.png" alt=""class='hideme img-responsive'></li>
							<li><img src="images/principles/goldenkrust.png" alt=""class='hideme img-responsive'></li>
							<li><img src="images/principles/hormel.png" alt=""class='hideme img-responsive'></li>
							<li><img src="images/principles/kikuet.jpg" alt=""class='hideme img-responsive'></li>
							<li><img src="images/principles/mamitas.png" alt=""class='hideme img-responsive'></li>
							<li><img src="images/principles/nautical.png" alt=""class='hideme img-responsive'></li>
							<li><img src="images/principles/pana.png" alt=""class='hideme img-responsive'></li>
							<li><img src="images/principles/salutti.png" alt=""class='hideme img-responsive'></li>
							<li><img src="images/principles/sterlingfoodslogo.jpg" alt=""class='hideme img-responsive'></li>
							<li><img src="images/principles/Sugardale.png" alt=""class='hideme img-responsive'></li>
							<li><img src="images/principles/zandras.jpg" alt=""class='hideme img-responsive'></li>
						</ul>
					</div>
			
						</div>
					</div>
				</div>
					
	

<footer>
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<p>NLM Marketing copyright &copy; 2016</p>
					</div>
				</div>
			</div>
		</div>
	</footer>



	
</body>
<script src='//code.jquery.com/jquery-1.11.3.min.js'></script>
	<script src='js/bootstrap.min.js'></script>
	<script src='js/main.js'></script>
</html>