<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/index.css">
	<link rel="shortcut icon" href="images/LOGO_NLM.ico">
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NLM Marketing</title>
</head>
<body>
	<header>
		<div class="navbar navbar-default navbar-fixed-top navbar-color">
			<div class="container">
				<div class="navbar-header">
				<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#example'>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
					<a href="#" class='navbar-brand navbar-text-color'><img class= 'img-responsive navbar-img'src="images/LOGO NLM.png" alt="NLM Marketing"></a>
				</div>
				<div class="collapse navbar-collapse" id='example'>
					<ul class="nav navbar-nav navbar-text-color">
						<li class='active'><a href="/">Home</a></li>
						<li><a href="/overview">Overview</a></li>
						<li><a href="/our-mission">Our Mission</a></li>
						<li><a href="/customers">Customers</a></li>
						<li><a href="/retail-support">Retail Support</a></li>
						<li><a href="/contact-us">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>

				<div class="content">
					<div class="img-bg">
						<p id='title'>	The Experts In Perishable Foods </p>
					</div>
				
					<p><strong><span id='span-one'style='color:#fff; font-size: 45px; font-family: Work Sans; text-shadow: 2px 2px #000;'>NLM Marketing is committed to being</span></strong> <br> the best sales and marketing company in the Northeast. We lead the way in providing value to our principles.</p>
				</div>

				
			


	<div class="content2">
		<div class="img-bg2">
			<p><strong><span id='span-two'style='font-family: Work Sans; color:#fff ; font-size: 2em; font-style: italic'>Let us,</span></strong>  guide you in introducing your products into major retailers, distributors, and end users. We work tirelessly in making your brands the leader in our marketplace.</p>
		</div>
	</div>

	<footer>
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p>NLM Marketing copyright &copy; 2016</p>
					</div>
				</div>
			</div>
		</div>
	</footer>

	
</body>
	<script src='//code.jquery.com/jquery-1.11.3.min.js'></script>
	<script src='js/bootstrap.min.js'></script>
	<script type='text/javascript'>

	

	 </script>
</html>