<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/overview.css">
	<link rel="shortcut icon" href="images/LOGO_NLM.ico">

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<title>Overview</title>

</head>
<body>
	<header>
		<div class="navbar navbar-default navbar-fixed-top navbar-color">
			<div class="container">
				<div class="navbar-header">
				<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#example'>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
					<a href="#" class='navbar-brand navbar-text-color'><img class= 'img-responsive navbar-img'src="images/LOGO NLM.png" alt="NLM Marketing"></a>
				</div>
				<div class="collapse navbar-collapse" id='example'>
					<ul class="nav navbar-nav navbar-text-color">
						<li><a href="/">Home</a></li>
						<li class='active'><a href="/overview">Overview</a></li>
						<li><a href="/our-mission">Our Mission</a></li>
						<li><a href="/customers">Customers</a></li>
						<li><a href="/retail-support">Retail Support</a></li>
						<li><a href="/contact-us">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>

	<div class="content">
	<!-- <div class="container">
	<div class="row"> -->
		<div class="img-bg img-responsive" id='img-pg' >
			<p>Established in 2004, NLM Marketing is a full line Retail and Food Service Broker in the Northeast, with retail & merchandising presence in NY, NJ, CT, MA and PA</p>
		</div>


<p>Throughout the years NLM Marketing has established extensive relationships with the leading distributors that have helped propel many products in becoming household name brands. Our staff consist of professionals with extensive experience in the Meat, Dairy, Frozen, Deli and Seafood categories. NLM and its staff have become the link between Manufactures, Packers, Distributors and owners/managers of Key Retailers.
</p>

	</div>
	</div>
	</div>

<div class="content2">
	<!-- <div class="container">
		<div class="row"> -->
			<div class="img-bg2 img-responsive">
				<p> NLM has found that with rising operational and sales costs, we could provide an external retail support team that you can count on. We will become the extension of your company and brand through PO Processing, POS Marketing, Order Taking, and Merchandising. With diverse experiences in the local trade and a clear understanding of product placement, we can guide you through the proper distribution channels.</p>
			</div>
		</div>
	</div>
	
</div>

<div class="content3">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
	
				<p> At NLM, we pride ourselves as a leading Sales & Marketing company, Brand Managing Specialist and Sales Gurus. We are not your everyday Brokers! With a Term of exports we can help your product reach the hands of the consumer, The Real Decision Maker! Every product has a consumer, it's all about how you go to Market!

 </p>
			</div>
		</div>
	</div>
</div>

<footer>
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p>NLM Marketing copyright &copy; 2016</p>
					</div>
				</div>
			</div>
		</div>
	</footer>



</body>
	<script src='//code.jquery.com/jquery-1.11.3.min.js'></script>
	<script src='js/bootstrap.min.js'></script>
	<script type='text/javascript'>

	
	 </script>
</html>