@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500);
@import url(https://fonts.googleapis.com/css?family=Michroma);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:900);
@import url(https://fonts.googleapis.com/css?family=Timmana);

* {
	margin: 0;
	padding:0;
}


.navbar {
	padding: 20px 50px;
}

.navbar-img {
	height: 200px;
	width: 200px;
	position: relative;
	top: -50px;
	left: -75px;

}


.navbar li {
	position: relative;
	left: 10%;
	padding: 5px;
	color: #fff;

}

 .navbar-default .navbar-nav .active a,
 .navbar-default .navbar-nav .active a:hover,
 .navbar-default .navbar-nav .active a:focus {
 	border-bottom: 2px solid #fff;
 	background: none;
 	box-shadow: none;
 }


.navbar-color {
	background:  #B8A798;
	opacity:0.9;

}

.navbar-text-color li a {
	color: #fff !important;
	text-transform: uppercase;
    font-size: 15px;
}

.navbar-text-color li a:hover{
	color:  #550000 !important;
	-webkit-transition: color 0.5s linear; 
    -moz-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
     transition: color 0.5s linear;
}


.navbar-default .navbar-brand {
	color: #fff !important;
}

.content {
	height: 700px;
}

.content h1 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
	font-family: 'Work Sans', sans-serif;
  	text-shadow: 2px 2px #000;
}

.content2 {
	height: 100px;
	background-color: #282829;
}

.content2 h1 {
	/*position: absolute;*/
 	width: 100%;
 	height: 100%;
 	margin: 0;
 	line-height: 50px;
 	text-align: center;
 	-moz-transform:translateX(100%);
 	-webkit-transform:translateX(100%);	
	 transform:translateX(100%);
	  -moz-animation: content2 15s linear infinite;
 -webkit-animation:content2 15s linear infinite;
 animation: content2 15s linear infinite;
 color: #fff;
 text-transform: uppercase;

}

@-moz-keyframes content2 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes content2 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes content2 {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}



.img-bg {
	height: 800px;
	background: /*linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), */url('/images/supermarket-aisle.jpg');
	background-size: cover;
	background-attachment: fixed;
	padding: 300px;

}



.contact-row  {
	margin-top: 0;
	background-color: #282829;
	padding-bottom: 500px;
	padding-top: 100px;
	margin-bottom: 50px;
	color: #fff;
}

.contact-row h2{
	text-transform: uppercase;
}

.footer {
	text-align: center;
	color: white;
	background-color: #282829;
}

.form-group .form-control {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0;
	color: #000;
}

#button {
	position: absolute;
	left: 47%;
	background-color: #fff;
	padding: 20px;
	color: #000;

}

@media only screen and (max-width: 48em)  { 

	.img-bg {
		height: 1500px;
	}

	.img-bg h1 {
		position: absolute;
		left: 30%;

	}

	.content2 {
		height: 200px;
	}

	.footer {
		position: relative;
		bottom: -1050px;
		padding: 50px;
	}

	.navbar li {
	text-align: center;
	position: relative;
	left: 10%;
	
}

.navbar-nav {
	overflow: hidden;

}
}


@media only screen /*iPhone*/
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

  	.navbar-img {
	height: 100px;
	width: 100px;
	position: relative;
	top: -40px;
	left: -50px;

}


.img-bg {
	background: url('/images/supermarket-aisle.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: scroll;
	margin-left: -100px;
}



  	.navbar {
	padding: 20px 25px;
	margin-top: 0;

	
}


.content {
	width: 100%;
	overflow: hidden;
}

.content h1 {
	font-size: 40px;
	display: inline;
	margin-left: -50px;
	margin-top: 15px;

}

.content2 {
	width: 100%;

}

.content2 h1, h2 {

-moz-transform:none;
 	-webkit-transform:none;	
	 transform:none;
	  -moz-animation: none;
 -webkit-animation: none;
 animation: none;

 font-size: 25px;

}



#button {
	left: 37%;

}

.footer {
	height: 250px;
}

}


@media only screen /*iPad*/
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .navbar-img {
  height: 120px;
  width: 120px;
  position: relative;
  top: -40px;
  left: -50px;

}



    .navbar {
  padding: 20px 25px;
  
}

.navbar li a {
  font-size: 0.9em;
}


.content2 h1 {

-moz-transform:none;
 	-webkit-transform:none;	
	 transform:none;
	  -moz-animation: none;
 -webkit-animation: none;
 animation: none;
}

}




