@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500);
@import url(https://fonts.googleapis.com/css?family=Michroma);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:900);
@import url(https://fonts.googleapis.com/css?family=Timmana);


* {
	margin: 0;
	padding:0;
}


.navbar {
	padding: 20px 50px;
}

.navbar-img {
	height: 200px;
	width: 200px;
	position: relative;
	top: -50px;
	left: -75px;

}


.navbar li {
	position: relative;
	left: 10%;
	padding: 5px;
	color: #fff;

}

 .navbar-default .navbar-nav .active a,
 .navbar-default .navbar-nav .active a:hover,
 .navbar-default .navbar-nav .active a:focus {
 	border-bottom: 2px solid #fff;
 	background: none;
 	box-shadow: none;
 }



.navbar-color {
	background:  #B8A798;
	opacity:0.9;

}

.navbar-text-color li a {
	color: #fff !important;
	text-transform: uppercase;
	font-size: 15px;
}

.navbar-text-color li a:hover{
	color:  #550000 !important;
	-webkit-transition: color 0.5s linear; 
    -moz-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
     transition: color 0.5s linear;
}

.navbar-default .navbar-brand {
	color: #fff !important;
}

.content {
	height: 700px;

}

.content p {
	color: #fff;
	display: inline-block;
	text-align: center;
	padding: 20px 50px;
	margin-top: 100px;
	position: absolute;
	left: 10%;

}


.content2 {
	height: 300px;
	background-color: #282829;

}

.content2 p {
	color: #fff;
	display: inline-block;
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
	margin-top: 100px;


}



.content3 {
	height: 500px;
	background-color:  #282829;
}

.content3 p {
	color: #000;
	text-align: center;
	padding: 20px 50px;
	margin-top: -150px;

}

.content4 {
	height: 190px;
	background-color: #282829;
	padding: 30px;

}

.content4 p {
	color: #fff;
	text-align: center;
	padding: 20px 50px;
	margin-top: -10px;
	font-size: 30px;
	text-transform: uppercase;
}

#key {
	height: 100px;
	width: 50px;
}


.img-bg {
	height: 900px;
	background: /*linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),*/ url('/images/53445475.jpg');
	background-size: cover;
	background-attachment: fixed;
	padding: 300px;
	margin-top: 10px;
}



.img-bg p {
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 30px;
	font-family: 'Work Sans', sans-serif;
	text-shadow: 2px 2px #000;
	margin-top: -100px;



}

.img-bg2 {
	height: 500px;
	padding: 300px;
	background: /*linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),*/ url('/images/IMG_4327.JPG');
	background-size: cover;
	background-attachment: fixed;


}

.img-bg2 p {

	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 30px;
	font-family: 'Work Sans', sans-serif;
	text-shadow: 2px 2px #000;
	margin-top: -200px;

	}

.footer {
	text-align: center;
	color: white;
	background-color: #282829;
}


@media only screen and (max-width: 48em)  { 

	.img-bg {
		height: 1000px;
	}

  	.img-bg p {
		font-size: 2em;
		position: absolute;
		margin-top: -100px;
		text-align: center;
		left: 50px;
  		
  	}

  	.img-bg2 {
		height: 500px;


}

	.img-bg2 p {
		
		font-size: 2em;
		position: absolute;
		margin-top: -200px;
		text-align: center;
		left: 50px;
	

	}

  	.content2 p {
		margin-top: 70px;
		font-size: 1.3em;
  	}

  	.content4 p {
  		font-size: 1.5em;
  	}

  	.navbar li {
	text-align: center;
	position: relative;
	left: 10%;
	
}

.navbar-nav {
	overflow: hidden;

}



}

@media only screen /*iPhone*/
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

  	.navbar-img {
	height: 100px;
	width: 100px;
	position: relative;
	top: -40px;
	left: -50px;

}



  	.navbar {
	padding: 20px 25px;
	margin-top: 0;
	
}


	.img-bg {
  		overflow: hidden;
  		height: auto !important`;
  		max-width: 100%;
  		width: 100%;
  		background: url('/images/53445475.jpg') no-repeat center center;
	    background-size: 160%;
	    background-attachment: scroll;
	    margin-left: -100px;
	    margin-top: -150px;

  		
  	}

  .img-bg p {
  	font-size: 17px !important;
  	margin-top: -50px;
  	margin-left: -50px;


  }

  .content {
  	width: 100%;
  	overflow: hidden;
  	height: 550px;
  }

  .content2 {
  	width: 100%;
  	overflow: hidden;
  }

  .content2 p {
  	font-size: 15px !important;
  	margin-top: 50px;

  }

  .content3 {
  	width: 100%;
  	overflow: hidden;
  }

  .img-bg2 {
  	background:  url('/images/IMG_4327.JPG') no-repeat center center;
	background-size: cover;
	background-attachment: scroll;
  }

  .img-bg2 p {
	font-size: 17px !important;
	margin-top: -250px;
	margin-left: -50px;

  }

  #key {
  	height: 50px;
  	width: 50px;
  }

  .content4 p {
  	font-size: 15px !important;
  }





}


@media only screen /*iPad*/
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .navbar-img {
  height: 120px;
  width: 120px;
  position: relative;
  top: -40px;
  left: -50px;

}



    .navbar {
  padding: 20px 25px;
  
}

.navbar li a {
  font-size: 0.9em;
}

}







