@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500);
@import url(https://fonts.googleapis.com/css?family=Michroma);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:900);
@import url(https://fonts.googleapis.com/css?family=Timmana);
@import url(https://fonts.googleapis.com/css?family=Montserrat);



* {
	margin: 0;
	padding:0;
}

body {
	-webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif !important;


}

.navbar-img {
	height: 150px;
	width: 150px;
	position: relative;
	top: -50px;
	left: -75px;

}


.navbar {
	padding: 20px 50px;

}

.navbar li {
	position: relative;
	left: 10%;
	padding: 5px;
	color: #fff;

}

 .navbar-default .navbar-nav .active a,
 .navbar-default .navbar-nav .active a:hover,
 .navbar-default .navbar-nav .active a:focus {
 	border-bottom: 2px solid #fff;
 	background: none;
 	box-shadow: none;
 }

 /*.navbar-default .navbar-nav  li a:hover{
 	border-bottom: 2px solid #fff;
 
 	
 }*/


.navbar-color {
	background: #B8A798;
	opacity:0.9;

}

.navbar-text-color li a {
	color: #fff !important;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  /*text-shadow: 2px 1px #000*/;


}

.navbar-text-color li a:hover {
	color:  #550000 !important;
	-webkit-transition: color 0.5s linear; 
    -moz-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
     transition: color 0.5s linear;
}


.navbar-default .navbar-brand {
	color: #fff !important;
}





.img-bg {
    height: 600px;
    width:auto;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;




}


#img-bg-text {
	text-align: center;
	color: #fff !important;
/* 	font-size: 50px !important; */
  font-weight: 700;
  margin-top: 25%;
   text-shadow: 2px 2px #000;
  

 

}



#sub-text {

	text-align: center;
	color: #fff;
	font-family: 'Work Sans', sans-serif !important;
    text-shadow: 2px 2px #000;
	margin-top: 5%;
}

#img1 {
	background-image: linear-gradient(rgba( 0, 0, 0, 0.2), rgba( 0, 0, 0, 0.2)), url('/images/img1.jpg');
}

#img2 {
	background-image: linear-gradient(rgba( 0, 0, 0, 0.2), rgba( 0, 0, 0, 0.2)), url('/images/img2.jpg');
}

#img3 {
	background-image: linear-gradient(rgba( 0, 0, 0, 0.2), rgba( 0, 0, 0, 0.2)), url('/images/img3.jpg');
}

#img4 {
	background-image: linear-gradient(rgba( 0, 0, 0, 0.3), rgba( 0, 0, 0, 0.3)), url('/images/img4.jpg');
}
#img5 {
	background-image: linear-gradient(rgba( 0, 0, 0, 0.2), rgba( 0, 0, 0, 0.2)), url('/images/img5.jpg');
}
#img6 {
	background-image: linear-gradient(rgba( 0, 0, 0, 0.3), rgba( 0, 0, 0, 0.3)), url('/images/img6.jpg');
}
#img7 {
	background-image: linear-gradient(rgba( 0, 0, 0, 0.2), rgba( 0, 0, 0, 0.2)), url('/images/img7.jpg');
}
#img8 {
	background-image: linear-gradient(rgba( 0, 0, 0, 0.2), rgba( 0, 0, 0, 0.2)), url('/images/img8.jpg');
}
#img9 {
	background-image: linear-gradient(rgba( 0, 0, 0, 0.2), rgba( 0, 0, 0, 0.2)), url('/images/img9.jpg');
}
#img10 {
	background-image: linear-gradient(rgba( 0, 0, 0, 0.2), rgba( 0, 0, 0, 0.2)), url('/images/img10.jpg');
}
#img11 {
	background-image: linear-gradient(rgba( 0, 0, 0, 0.2), rgba( 0, 0, 0, 0.2)), url('/images/img11.jpg');
}





.content-block {
	height: auto;
	width:auto;
	background-color: #212121;
	text-align: center;
	color: #fff;
	font-size: 25px;


}


.list {
	color: #fff;
	/* text-align: center; */
	font-family: 'Montserrat', sans-serif;
	font-size: 23px;
	text-shadow: 2px 2px #000;
	padding: 0;
	margin-top: 5%;



}

.list h1 {
	text-align: center;
  font-family: Work Sans;

}


.list li {
	list-style-image: url('/images/right-icon1.gif');
	margin-left: 30%;
	
}


.logos {
	background-color: #fff;
}

img {
	height: 50px;
	width: 100px;
	display: inline-block;
	
}

#logos {
	list-style: none;
	text-align: center;
	
}

#logos li{
	display: inline-block;
	padding: 20px;
	text-align: center;
	
}

.hideme {
	opacity: 0;
}

#key {
	height: 50px;
	width: 50px;

}




.contact-row  {
	margin-top: 0;
	background-color: #282829;
	padding-bottom: 500px;
	padding-top: 100px;
	margin-bottom: 100px;
	color: #fff;
}


.form-group .form-control {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0;
	color: #000;
  margin-top: 0;
}

#button {
	position: absolute;
	left: 47%;
	background-color: #fff;
	padding: 20px;
	color: #000;

}

.scrolling-text h1 {
	/*position: absolute;*/
 	width: 100%;
 	height: 100%;
 	margin: 0;
 	line-height: 50px;
 	text-align: center;
 	-moz-transform:translateX(100%);
 	-webkit-transform:translateX(100%);	
	 transform:translateX(100%);
	  -moz-animation: scrolling-text 15s linear infinite;
 -webkit-animation:scrolling-text 15s linear infinite;
 animation: scrolling-text 15s linear infinite;
 color: #fff;
 text-transform: uppercase;

}

@-moz-keyframes scrolling-text {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes scrolling-text {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scrolling-text {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}





.footer {
	text-align: center;
	color: white;
	background-color:#282829;
}


@media only screen and (max-width: 48em)  { 
  

  .navbar-img {
  height: 125px;
  width: 125px;
  position: relative;
  top: -50px;
  left: -75px;

}


 .navbar .navbar-collapse{
  border: none;
}

 .navbar-default .navbar-nav .active a,
 .navbar-default .navbar-nav .active a:hover,
 .navbar-default .navbar-nav .active a:focus {
  border-bottom: none;
  background: #550000;
  box-shadow: none;
 }

 .navbar li {
	text-align: center;

}

}


@media only screen /*iPhone*/
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
   {


  .navbar-img {
  height: 75px;
  width: 75px;
  position: relative;
  top: -30px;
  left: -70px;

}




  	.img-bg {
  		background-position: center;
  		background-attachment: scroll;
  	}

    

	#img-bg-text {
  		font-size: 2em !important;
  		margin-top: 75%;
  		

  	}

  	.content-block p {
  		font-size: 0.7em;
  	}

  	#img2 p {
  		font-size: 1.5em !important;
  	}

  	#img3 p {
  		font-size:1.5em !important;
  		margin-top: 60%;
  	}

  	#img4 p {
  		font-size:1.3em !important;
  		margin-top: 50%;
  	}

  	#img5 p {
  		font-size: 1.5em !important;
  		margin-top: 50%;
  	}

  	#img7 p {
  		font-size: 2.8em !important;
  	}

  	#img9 p {
  		font-size: 1.5em !important;
  		margin-top: 60%;
  	}

  	#img10 p {
  		font-size: 1.5em !important;
  		margin-top: 40%;
  	}



  	.list {
  		text-align: center;
  	}

  	.list li {
  		font-size: 0.7em !important;
  		margin-left: 10%;
  		font-family: Arial;
  		
  	}

 
    #span-one {
      font-size: 1.2em !important;
    }

    #success {
    	font-size: 1em;
    }

    


   img {
   	height: 50px;
   	width: 50px;
   }

   .scrolling-text h1 {
   	-moz-transform:none;
 	-webkit-transform:none;	
	 transform:none;
	-moz-animation: none;
    -webkit-animation: none;
    animation: none;

    font-size: 1em !important;
   }

   #button {
   	margin-left: -10%;
   }




  	

  	.footer {
  		overflow: hidden;
	    width: 100%;
  		position: absolute;

  

  		
  	}

  	}

